body {
  margin: 0;
  box-sizing: border-box;
  background-image: url('../ASSET/bg.jpg');
  background-size: cover;
  width: 100%;
}

h1 {
  color: #e7e7eb;
}

h2 {
  color: #e7e7eb;
}

h3 {
  color: #e7e7eb;
}

p {
  color: #e7e7eb;
}

.outfit-font {
  font-family: 'Outfit', sans-serif;
  font-size: 60px;
}

.inter-font {
  font-family: 'Outfit', sans-serif;
  font-size: 30px;
}

.bold {
  font-weight: bold;
}

#logo {
  width: 130px;
  padding: 40px 100px;
}

#title-container {
  text-align: center;
}

main {
  margin-top: 2em;
}

#chart-and-percentage-container {
  text-align: center;
  margin-top: 2em;
}

#wrong-answers-container {
  text-align: right;
}

#correct-answers-container {
  text-align: left;
}

#wrong-stats,
#correct-stats {
  font-size: 20px;
  margin-top: 0.3em;
}


#rate-us {
  text-align: center;
  font-size: 1.25em;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  color: #000030;
  cursor:pointer;
  padding: 17px 30px;
  border: none; 
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  background-size: 300% 100%;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #8eb2e9);
  box-shadow: 0 4px 15px 0 rgba(71, 138, 239, 0.75);
}

#rate-us:hover {
  color: #000030;
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#rate-us:focus {
  outline: none;
}

.chartCentered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#chart-container {
  margin: 0 5em;
}
