body {
  margin: 0;
  box-sizing: border-box;
  background-image: url('../ASSET/bg.jpg');
  background-size: cover;
  padding: 3em 12em;
  color: white;
}

.outfit-font {
  font-family: 'Outfit', sans-serif;
}

.inter-font {
  font-family: 'Outfit', sans-serif;
}

#logo {
  width: 25%;
}

#title-container {
  text-align: center;
}
