body {
  background-image: url(../ASSET/bg.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Outfit", sans-serif;
}

body section form {
  margin-top: 2em;
}

main {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #e7e7eb;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 10px;
}

.star {
  filter: brightness(0) saturate(100%) invert(13%) sepia(67%) saturate(1425%)
    hue-rotate(211deg) brightness(81%) contrast(105%);
  cursor: pointer;
}

.starClick {
}

#stars div {
  display: inline-block;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 70px;
  cursor: pointer;
}

#logo img {
  width: 130px;
  padding: 40px 100px;
}

.p-review {
  color: #f0e9f1db;
  font-size: 1.5em;
  padding: 10px 280px;
  font-family: "Inter", sans-serif;
  line-height: 35px;
}

#feedback {
  background: none;
  border: none;
  width: 54%;
  font-size: 16px;
  color: #f0e9f1db;
  outline: none;
}
/* 
#quiz-button {
  color: #00ffff;
} */

#quiz-button {
  font-size: 1.25em;
    font-weight: bold;
    color: #000030;
    cursor:pointer;
    padding: 17px 12px;
    border: none; 
    margin-bottom: 50px;
    margin-left: 20px;
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #8eb2e9);
    box-shadow: 0 4px 15px 0 rgba(71, 138, 239, 0.75);
  }

#quiz-button:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#quiz-button:focus {
  outline: none;
}


#info-button {
  font-size: 1.25em;
    font-weight: bold;
    color: #000030;
    cursor:pointer;
    padding: 17px 30px;
    border: none; 
    margin-bottom: 50px;
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #8eb2e9);
    box-shadow: 0 4px 15px 0 rgba(71, 138, 239, 0.75);
  }

#info-button:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#info-button:focus {
  outline: none;
}

body#tinymce {
  background: #610064;
}

hr {
  margin: 1% 20%;
  border: solid #c2128d 1px;
}
